<launch>
   <group ns="bot0">
      <node pkg="bug_algorithms" type="bug_algorithms.py" name="bug_algorithms" output="screen">
        <!-- bug_types: wf, com_bug, bug_2, alg_1, alg_2, i_bug, blind_bug-->
      	<param name="bug_type" value="wf" />
      </node>
   </group>
    <node pkg="argos_bridge" type="argos_ros_start_sim_server" name="argos_ros_start_sim_server" output="screen">  
    <param name="argos_world_file_name" value="/argos_worlds/simple_environments/no_walls_no_neat.argos"/>
 <param name="file_name_env_path_rel" value="/argos_worlds/simple_environments/simple_env_"/>
     </node>
</launch>




